.container {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.table {
  font-size: 11px;
}

.table th {
  padding: 0.25rem;
}
.table th div {
  /* width: 160px; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}
.table td {
  padding: 0.25rem;
}
.table td div {
  /* max-width: 115px; */
  /* white-space: nowrap;
  overflow: hidden; */
}

#player-search {
  font-size: 15px;
  font-weight: bold;
}

#overall-panel {
  background-color: #afb96d;
}

#position-panel {
  background-color: #dfa99a;
}

#search-panel {
  background-color: #e2d1ce;
}
